{% extends "./base.html" %}

{% block title %} Editar Categoría {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Categoría</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'editarcategoriausu' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtId" name="txtId" value="{{ categoria.id }}" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{ categoria.nombre }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <textarea id="txtDescripcion" name="txtDescripcion" class="form-control" required>{{ categoria.descripcion }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
