{% extends "./base.html" %}

{% block title %} Inventario Usuario {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h1>Listado de Productos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Proveedor</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>{{ p.categoria.nombre }}</td>
                        <td>{{ p.proveedor.nombre }}</td>
                        <td>${{ p.precio }}</td>
                        <td>{{ p.cantidad }}</td>
                        <td><a href="edicionProducto/{{p.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarProducto/{{p.id}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">No hay productos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <a href="{% url 'indexUsu' %}" class="btn btn-block text-white" style="font-weight:bold; background-color:#ab3ed8;">Volver al inicio</a>
    </div>
</div>
{% endblock %}
