* {
    margin: 0;
    padding: 0;
}
/*Body*/
.main {
    width: 100%;
    height: 109vh; 
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%), url('../img/Fondo3.jpg');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    margin-right: 50%;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}

.logo{
    color:#ab3ed8;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top:10px;
}

/*Menu*/

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 8%;
   
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
}

ul li a{
    text-decoration: none;
    color: #ab3ed8;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:  #7f00b2;
}

/*Contenido*/
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #ab3ed8;
    position: relative;
    margin-right:30%;
    
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
